<div
  fxLayout="column"
  fxLayoutGap="8px">

  <!-- Input data section -->
  <div
    name="appInputDataSection"
    fxLayout="row wrap"
    fxLayoutGap="8px">

    <!--  How to show events to client  -->
    <mat-card
      fxFlex="308px"
      [formGroup]="formData">
      <mat-card-title>Select how to show events to the client</mat-card-title>

      <div
        fxLayout="column"
        formGroupName="blkGeneral">

        <!-- Event Visibility  -->
        <mat-radio-group
          fxLayout="column"
          aria-labelledby="event-visibility"
          formControlName="eventsScope">
          <mat-radio-button
            class="radio-group-visibility"
            title="Show only the events of this screen (GLOBAL events)"
            value="G">
            only GLOBAL events
          </mat-radio-button>
          <mat-radio-button
            class="radio-group-visibility"
            title="Show the events of this screen and also the events of the WR and Shipment screens (DETAIL events)"
            value="P">
            only DETAIL events
          </mat-radio-button>
        </mat-radio-group>
      </div>
    </mat-card>

    <!-- New events form -->
    <mat-card
      fxFlex="calc(100% - 308px - 8px)"
      fxLayout="row"
      fxLayout.xs="column"
      fxLayoutGap="8px"
      [formGroup]="eventFormGroup">

      <!-- Left column -->
      <div
        fxLayout="column"
        fxFlex="25">

        <!-- Event Date -->
        <mat-form-field>
          <input
            matInput
            placeholder="Event Datetime"
            [matDatepicker]="eventDatetime"
            formControlName="eventDatetime"
            required>
          <mat-datepicker-toggle matSuffix [for]="eventDatetime"></mat-datepicker-toggle>
          <mat-datepicker #eventDatetime></mat-datepicker>
        </mat-form-field>

        <!-- Event Type  -->
        <mat-form-field>
          <mat-label>New Event</mat-label>
          <mat-select
            required
            placeholder="select a event from the list"
            formControlName="eventTypeId">
            <mat-option
              *ngFor="let event of eventTypeOptions"
              [value]="event.id">
              {{ event.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <!-- Middle Column -->
      <div
        fxLayout="column"
        fxFlex="65">

        <!-- Observations -->
        <mat-form-field>
          <textarea
            matInput
            cdkTextareaAutosize
            cdkAutosizeMinRows="5"
            cdkAutosizeMaxRows="5"
            placeholder="Observations"
            formControlName="observations">
          </textarea>
        </mat-form-field>
      </div>

      <!-- Right Column -->
      <div
        fxLayout="column"
        fxFlex="10">

        <!--  SAVE button  -->
        <button
          title="Add a GLOBAL Event"
          [disabled]="eventFormGroup.invalid || formData.invalid"
          mat-raised-button
          color="primary"
          color=primary
          (click)="addCustomerEvent(orderId)">
          add &nbsp;
          <mat-icon svgIcon="add"></mat-icon>
        </button>
      </div>
    </mat-card>
  </div>

  <!--  Events Grid section -->
  <mat-card>
    <mat-card-title>GLOBAL events</mat-card-title>
    <ag-grid-angular
      #customerOrderEventsGrid
      class="ag-theme-balham wrapper"
      [columnDefs]="columnDefs"
      [frameworkComponents]="frameworkComponents"
      (gridReady)="onGridReady($event)"
      [loadingOverlayComponent]="loadingOverlayComponent"
      [loadingOverlayComponentParams]="loadingOverlayComponentParams"
      [overlayLoadingTemplate]="overlayLoadingTemplate"
      [rowData]="rowData">
    </ag-grid-angular>
  </mat-card>

</div>
