<!-- Filtro por Grupos -->
<div
  fxLayout="row"
  fxLayoutAlign="center">
  <span style="font-weight: bold;">Filtro:&nbsp;</span>
  <div
    *ngFor="let group of mnuGroups"
    (click)="onFilter(group.name)"
    id="groupFilter--{{group.color}}"
    class="group-btn group-btn--{{group.color}}">
    {{group.name}}
  </div>
</div>
<!-- Botones -->
<div
  class="grid">
  <div
    *ngFor="let brick of bricks"
    class="grid-item grid-item--{{brick.color}} {{brick.pgmGroup}}"
    (click)="runProgram(brick.pgmId)">
    <div class="brick-alias brick-alias--{{brick.color}}">{{brick.alias}}</div>
    <div class="brick-group">{{brick.pgmGroup}}</div>
    <div class="brick-title">{{brick.title}}</div>
  </div>
</div>
