<div
  [formGroup]="formData"
  fxLayout="row"
  fxLayout.sm="column"
  fxLayout.xs="column"
  fxLayoutGap="8px">

  <!-- BLOCK GENERAL  -->
  <mat-card
    fxLayout="column"
    fxFlex="20%"
    formGroupName="blkGeneral">

    <mat-card-title>
      Order No. {{ (orderId == null)? 'New' : orderNo.value }}
    </mat-card-title>

    <!-- Customer Id -->
    <mat-form-field>
      <mat-select
        formControlName="customerId"
        placeholder="Client"
        required>
        <mat-option
          *ngFor="let customer of customerOptions"
          [value]="customer.id">
          {{ customer.name }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="formData.get('blkGeneral').get('customerId').hasError('required')">
        The client is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <!-- Customer Reference -->
    <mat-form-field>
      <input
        matInput
        placeholder="Customer Reference"
        formControlName="custRef">
    </mat-form-field>

    <!-- Order Type -->
    <mat-form-field>
      <mat-select
        placeholder="Order type"
        formControlName="orderType"
        required>
        <mat-option
          *ngFor="let order of ordersTypeOptions"
          [value]="order.id">
          {{ order.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Applicant Name -->
    <mat-form-field>
      <input
        matInput
        placeholder="Applicant name"
        formControlName="applicantName">
    </mat-form-field>

    <!-- Order Date -->
    <mat-form-field>
      <input
        matInput
        placeholder="Order date"
        [matDatepicker]="orderDate"
        formControlName="orderDate"
        required>
      <mat-datepicker-toggle matSuffix [for]="orderDate"></mat-datepicker-toggle>
      <mat-datepicker #orderDate></mat-datepicker>
    </mat-form-field>

    <!-- Shipment Method -->
    <mat-form-field>
      <mat-select
        formControlName="shipmentMethod"
        placeholder="Shipment Method"
        [errorStateMatcher]="matcher">
        <mat-option
          *ngFor="let method of shipmentOptions"
          [value]="method.id">
          {{ method.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!-- INCOTERM -->
    <mat-form-field>
      <mat-select
        formControlName="incoterm"
        placeholder="Incoterm"
        [errorStateMatcher]="matcher">
        <mat-option
          *ngFor="let method of incotermOptions"
          [value]="method.id">
          {{ method.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Button SAVE -->
    <button
      [disabled]="formData.invalid || btnSaveDisabled"
      mat-raised-button
      color="primary"
      title="Save Order"
      color=primary
      (click)="saveOrder(orderId)">
      Save &nbsp;
      <mat-icon svgIcon="save"></mat-icon>
    </button>
  </mat-card>

  <!-- OTHER CUSTOMER ORDER BLOCKS  -->
  <mat-card
    name="appCustomerOrderTabs"
    fxFlex="80%">

    <!-- Form Tabs  -->
    <app-custorder-tabs
      fxFlex
      [orderId]="orderId"
      [formData]="formData"
      [customerOptions]="customerOptions">
    </app-custorder-tabs>
  </mat-card>

</div>
