/* frontend/packs/application.css */

/* Angular prebuild theme  */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

/*  Put here all COMMON CSS to use in all the components */
@import 'normalize.css/normalize.css';

html,
body {
  background: lightyellow;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

/* Scrollable content begin */
body,
.wrapper {
  height: 100%;
  position: relative;
  margin: 0;
}

.full-page {
  position: relative !important;
  left: 0;
  width: 100%;
  top: 0;
  height: 100% !important;
}

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
}

.header {
  flex-shrink: 0;
}

.content {
  overflow-y: auto;
  height: 100%;
}

.footer {
  flex-shrink: 0;
}

/* Scrollable content begin */

.alert-wrapper {
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.alert {
  position: fixed;
  z-index: 3000;
}

/* *************************************************************************************
    LOGIN page
*/
.bg-login {
  background-color: #ffc;
  border: 1px solid #f90;
  border-radius: 8px;
  box-shadow: 10px 10px 25px grey;
  padding: 10px 30px 20px;
}

.h3 {
  margin-right: 0;
}

/* *************************************************************************************
    Bootstrap modifications
*/
.alert-info {
  padding: 0 10px;
}

.alert-success {
  padding: 0 10px;
}

.alert-danger {
  padding: 0 10px;
}

.alert-warning {
  padding: 0 10px;
}

.old-wrapper {
  display: table;
  height: 100%;
  width: 100%;

  /* background: yellow;   just to make sure nothing bleeds */
}

.header {
  display: table-row;

  /* background: gray; */
}

.content,
.mat-app-background {
  display: table-row;
  height: 100%; /* ...as content is added (won't scroll) */
  min-height: 100%;
  background: turquoise;
}

.footer {
  display: table-row;
  background: lightgray;
}

.mat-tab-body-content {
  height: auto;
}

.mat-tab-body-wrapper {
  flex-grow: 1;
}

/* #tab-group {
  height: 100%;
}

#tab-group mat-tab-body {
  flex-grow: 1;
}
*/
.mat-tab-label {
  height: initial !important;
  min-width: initial !important;
}

.mat-tab-label button.close {
  font-size: 1rem;
}

.mat-icon-button {
  height: 34px !important;
  line-height: 34px !important;
}

.ag-floating-filter-body input.ag-filter-filter[type='date'] {
  display: none;
}

/* *************************************************************************************
    Loading Spinner CSS
*/
.loader-spinner {
  margin: 0 auto;
  border: 8px solid #f3f3f3;
  border-radius: 50%;
  border-top: 8px solid #673ab7;
  width: 70px;
  height: 70px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
